# Numeric data type

In [2]:
# 01 int 

a=10
print(type(a))

<class 'int'>

In [3]:
#02 float data type
a=10.5
print(type(a))

<class 'float'>

In [4]:
#03 complex data type
a=3+5j
print(type(a))

<class 'complex'>

## Boolean Data type

In [5]:
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

## Text type

In [6]:
# string
a='string'
print(type(a))

<class 'str'>

## Sequence type

In [7]:
# list
a=[10,'a','c',10.5]
print(type(a))

<class 'list'>

In [8]:
# tuple
tup=(10,20,30)
print(type(tup))

<class 'tuple'>

In [14]:
# range
my_range = range(0, 5)
print(my_range)

range(0, 5)

In [13]:
for i in range(0,5):
    print(i)

0
1
2
3
4

## mapping

In [15]:
# Dictionary
student = {'name': 'Alice', 'age': 25, 'grade': 'A'}
print(type(student))

<class 'dict'>

In [17]:
print(student['name'])

Alice

In [22]:
print(student.keys)

<built-in method keys of dict object at 0x000001AFB6D0A980>

In [20]:
print(student.keys())

dict_keys(['name', 'age', 'grade'])

In [21]:
print(student.values)

<built-in method values of dict object at 0x000001AFB6D0A980>

In [23]:
print(student.values())

dict_values(['Alice', 25, 'A'])

# Set

In [24]:
#set
my_set={1,2,3}
print(type(my_set))

<class 'set'>

In [25]:
#frozenset
my_frozenset=frozenset([4,5,6])
print(type(my_frozenset))

<class 'frozenset'>