## Strings Data type

In [2]:
s='python'
S="python"

print(s)
print(S)

python
python

In [4]:
ch="a"
print(type(ch))

<class 'str'>

In [5]:
# Multiline strings or Doc String

s='''we 
are learning
python'''
print(s)

we
are learning
python

### how to use quotes

In [7]:
S='python is 'very' easy ' # here we can't use single quotes inside a single quotes
print(S)

SyntaxError: invalid syntax (4043750026.py, line 1)

In [8]:
S="python is 'very' easy '
 # here we can't use different quotes at starting and ending of string. we have to use same quotes. either "" (or)''
print(S)

SyntaxError: unterminated string literal (detected at line 1) (3620026816.py, line 1)

In [10]:
S= "python is 'very' easy "
 # if we want to print single quotes in the output we must use double quotes at beginning and ending of string.
print(S)

python is 'very' easy

In [14]:
s='The Python  is "very" is easy'
# if we want to print double quotes with in output we must use single at begining & ending
print(s)

The Python  is "very" is easy

In [1]:
# Accessing  The Character of a string
num='0123456789'

# but wait you said that we are taking a string but you type the number is it really a string Let's check that

In [2]:
# here we use type function to check the data type of variable num.
print(type(num))

<class 'str'>

In [3]:
# So it is string ,when we incribe any kind of data inside  the qoutes will be considered as string

# lets access the first element in num, which is 0th index 
num[0]

'0'

In [4]:
# lets deep dive more  if you want to access the elements 0 to 6
num[0:7]

'0123456'

In [5]:
# Now we check about step like we need to print 0246
num[0:7:2]

'0246'

In [6]:
# Now we need to print negative index
num[-1]

'9'

In [7]:
# Now we need to print from -2 to -6
num[-2:-6]

# It prints nothing but it needs to print  8765.
# Why it's not printed any thing 
# slicing works like this: String[start:stop:step]. When you slice from a higher index to a lower index, the default step is 1, so it can't go backwards unless you specify a negative step.

''

In [8]:
#num[-2:-6] essentially means “start at the second-to-last element and go up to, but not including, the sixth-to-last element,” but since it can't move backwards with the default step, it returns nothing.
num[-2:-6:-1]
# Now we can get those

'8765'

In [15]:

# Accessing the character of a string

s='python'
s[0]

'p'

In [16]:
s='python'
s[-1]

'n'

In [17]:
s='python'
s[4]

'o'

In [18]:
s='python'
s[10]

IndexError: string index out of range

In [19]:
s='python' 
s[::-1]  # reverse the string

'nohtyp'

In [22]:
s='python'
print(''.join(reversed(s)))

nohtyp

In [20]:
# Write a program to accept some string from the keyboard and display its characters by index wise(both positive and nEgative index).

s=input("Enter Some String:") 
i=0 
for x in s: 
   print("The character present at positive index {} and at nEgative index {} is {}".format(i,i-len(s),x)) 
   i=i+1

The character present at positive index 0 and at nEgative index -6 is p
The character present at positive index 1 and at nEgative index -5 is y
The character present at positive index 2 and at nEgative index -4 is t
The character present at positive index 3 and at nEgative index -3 is h
The character present at positive index 4 and at nEgative index -2 is o
The character present at positive index 5 and at nEgative index -1 is n

In [21]:
s='python'
print(len(s))

6

In [26]:
s=input("Enter any character:") 
if s.isalnum(): 
    print("Alpha Numeric Character") 
    if s.isalpha(): 
        print("Alphabet character") 
        if s.islower(): 
            print("Lower case alphabet character") 
        else: 
            print("Upper case alphabet character") 
    else: 
        print("it is a digit") 
elif s.isspace(): 
    print("It is space character") 
else: 
    print("Non Space Special Character")

Alpha Numeric Character
it is a digit