In [1]:
# creating a list


my_list = [1, 2, 3, 'apple', 'banana']
empty_list = []

In [2]:
num_list = list(range(1,11))
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# adding data to list

lis=[]
# using append method
lis.append(1)

lis1=[2,3,4]
lis.append(lis1)
lis

# print the index 1
print(lis[1])

[2, 3, 4]

In [14]:
# by using insert method

# list.insert(index_value, data)
lis.insert(1,5)
lis

[1, 5, [2, 3, 4]]

In [17]:
# by using extend method
#extend() method is used to add the whole data of the list into another list.
lis2=[0]
lis2.extend(lis)
lis2

[0, 1, 5, [2, 3, 4]]

### Delete data from list

In [18]:
# by using pop method
# pop method removes data at the end of the list

lis2.pop()
lis2

[0, 1, 5]

In [19]:
# remove - removes specfic data
lis2.remove(1)
lis2

[0, 5]

In [20]:
# del keword

# del listname[index]

del lis2[0]
lis2

[5]

## Loop in list

In [21]:
fruits = ['orange', 'apple', 'pear']

for i in fruits:
    print(i)

orange
apple
pear

In [23]:
fruits = ['orange', 'apple', 'pear']

for i in range(len(fruits)):
    print(i,fruits[i])

0 orange
1 apple
2 pear

In [26]:
fruits = ['orange', 'apple', 'pear']

for i,value in enumerate(fruits):
    print(i,value)

0 orange
1 apple
2 pear

In [27]:
# starting index from 1
students=['Appu','fil','zill']

for i in range(len(students)):
    print(i+1,students[i])

1 Appu
2 fil
3 zill

In [28]:
# using while loop
ruits = ['orange', 'apple', 'pear']

i = 0
while i < len(fruits):
    print(fruits[i])
    i+=1

orange
apple
pear

In [29]:
fruits=['apple', 'orange','mangaos','malberry']

i=0
while i<len(fruits):
    print(i+1,fruits[i])
    i+=1

1 apple
2 orange
3 mangaos
4 malberry

### methods of list

In [30]:
# count
cars = ['Toyota','Chevrolet','Renault','Toyota']

print(cars.count('Toyota'))

2

In [31]:
# sort
numbers = [5,2,7,1,3]
numbers.sort()
print(numbers)

[1, 2, 3, 5, 7]

In [32]:
alphabates = ['A','F','B','K','D']
alphabates.sort()
print(alphabates)

['A', 'B', 'D', 'F', 'K']

In [33]:
# descending order

num2 = [1,5,2,6,8]
num2.sort(reverse=True)
print(num2)  # output: [8, 6, 5, 2, 1]

alphabates2 = ['A','F','B','K','D']
alphabates2.sort(reverse=True)
print(alphabates2) # output: ['K', 'F', 'D', 'B', 'A']

[8, 6, 5, 2, 1]
['K', 'F', 'D', 'B', 'A']

In [34]:
# sorted()
# ascending order
numbers = [5,2,7,1,3]
rev_num = sorted(numbers)
print(rev_num)

# descending order
num2 = [1,8,5,9,3]
rev_num2 = sorted(num2,reverse=True)
print(rev_num2)

[1, 2, 3, 5, 7]
[9, 8, 5, 3, 1]

In [35]:
# index

bikes = ['Suzuki','TVS','Hero','Suzuki']
print(bikes.index('Suzuki'))

0

In [36]:
# clear - clear entire list
num = [1,2,3,4,5]
num.clear()
print(num)

[]

In [37]:
# copy

l1 = [2,3,5,7,11,13]
l2 = l1.copy()

print(l2)

[2, 3, 5, 7, 11, 13]

## list comprehension

In [39]:

squares = [x ** 2 for x in range(1, 6)]  # Create a list of squares
squares

[1, 4, 9, 16, 25]

In [40]:
my_list = [45,12,67,8,2,6,90,13,15]

my_list2 = [i for i in my_list if i%2 == 0]

print(my_list2)

[12, 8, 2, 6, 90]

In [41]:
mixed_list = ['Apple','Banana',12,15,7,2,3,'Orange','Mango']

# if type is equal to int then append square of the number
# otherwise append first character of string

mixed_list2 = [i**2 if type(i) == int else i[0] for i in mixed_list]
print(mixed_list2)

['A', 'B', 144, 225, 49, 4, 9, 'O', 'M']